<div class="container">
  NOTHING TO SEE HERE!
</div>

<script id="header" type="text/template">
<h1></h1>
</script>

<script id="quiz" type="text/template">
<div class="quiz" id="">
</div>
</script>

<h2 class="question"></h2>
