body {
  background-image:url(http://qph.cf.quoracdn.net/main-qimg-fcb98c13e50b5880858ad06928c24ebe);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: black;
}

.hidden {
  display: none;
}

.num-correct {
  color: #56FF00;
}

.num-incorrect {
  color: red;
}

.last-right {
  color: #56FF00;
}

.last-wrong {
  color: red;
}

.container {
  width: 250px;
  margin: 200px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

.choice-display {
  background-color: black;
  color: white;
  border: 0;
}

.question-display {
  color: white;
  margin-bottom: 10px;
}

form input[type=submit] {
  border: 0;
  border-radius: 18px;
  color: white;
  background-color: black;
}

form input[type=submit]:hover {
  color: black;
  background-color: white;
}
